@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap");

body {
  background: #151515;
  color: #fff;
  font-family: Inter, Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.form {
  width: 50%;
  margin: auto;
  background-color: #303030;
  border-radius: 10px;

  & input.form-control,
  & select.form-control {
    height: 60px;
    border: none;
    font-size: 1.2rem;
    background-color: #242424;
    color: #fff;
  }

  & select.form-control {
    padding: 0;
    padding-left: 16px;
  }

  & .btn {
    width: 100%;
    padding: 12px;
    background-color: #25ccff;
    font-weight: bold;
  }
}
